
@{
    ViewBag.Title = "Thanhcong";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="container text-center">
	<div style="width: 100%; border: 1px solid; padding: 10px; box-shadow: 5px 5px 5px #808080;">
		<img src="~/Public/images/logothanhcong.jpg" style="border-radius: 50%;width: 100px; height:100px"  />
		<br />
		<br />
		<h3>Đặt hàng thành công</h3>
		<p>Cảm ơn bạn đã đặt hàng tại BaBy Shop.</p>
		<br />
		<p>Bộ phận phụ trách sexchur động liên hệ cho anh(chị) trong thời gian sớm nhất có thể </p>
		<p>Trong trường hợp cần gấp vui lòng liên hệ Hotline: <span class="text-danger">098948324</span></p>

		<div class="continue__btn">
			<a href="~/tat-ca-san-pham">Tiếp tục mua sắm </a>
		</div>
	</div>
</div>
<br />

